html { 
  background: url(static/jelly.png) no-repeat center center fixed; 
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  height:3550px;

}

i{
	background:black;
	color:white;
}

.zmdi{
	position:absolute;
	font-size:40px;
	background: rgba(25, 25, 25, 0);
	box-shadow: 0 1px 3px  rgba(0,0,0,0.12), 0 .5px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius:6px;
}

.zmdi:hover {
  box-shadow: 0 9px 28px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size:45px;
  border-radius:20px;
  -webkit-filter:blur(2px);
}

#git{
	left:220px;
	top:100px;
}

#in{
	left:220px;
	top:150px;
}

#sound{
	left:220px;
	top:200px;
}

#stories{
	left:220px;
	top:300px; 
}

#name{
	position:absolute;
	font-family: 'Lato', sans-serif;
	top:9px;
	font-size:55px;
	text-shadow:3px 5px 8px black;
	left:94px;
	color:white;
}

#apps{
	left:220px;
	top:250px;
}

#about_i{
	left:220px;
	top:350px;
	height:0px;
	color:white;
}

table{
	position:absolute;
	top:2225px;
	font-size:40px;
	left:300px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:white;
	background:url(static/newjs.jpg) no-repeat;
	background-size:200px 200px;
	background-position: center;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
tr, td, th{

}

/*#fool{
	top:3000px;
	height:1000px;
	width:100px;
}*/

img{
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}

#table{
	background:url(static/html.jpg) no-repeat;
	background-size:200px 200px;
	background-position: center;
	top:2175px;
}

#stop_gap{
	font-family: 'Lato', sans-serif;
	padding:80px;
	left:30px;
	font-size:55px;
	color:white;
	position:absolute;
	top:1750px;
}

#table_2{
		position:absolute;
	top:1950px;
	font-size:40px;
	left:300px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:url(static/angularjs.jpg) no-repeat;
	background-size:150px 150px;
	background-position: center;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#table_3{
		position:absolute;
	top:1950px;
	font-size:40px;
	left:520px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:white;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:url(static/nodejs.jpg) no-repeat;
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#table_4{
		position:absolute;
	top:1950px;
	font-size:40px;
	left:740px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:white;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:url(static/postgresql_logo.jpg) no-repeat;
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#table_5{
		position:absolute;
	top:2175px;
	font-size:40px;
	left:520px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:white;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:url(static/jQurery.png) no-repeat;
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#table_6{
		position:absolute;
	top:2175px;
	font-size:40px;
	left:740px;
	font-family: 'Lato', sans-serif;
	color:white;
	width:200px;
	height:200px;
	border:3px solid black;
	background:white;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:url(static/js.jpg) no-repeat;
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#table_6:hover{

}

table{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#p_1{
	position:absolute;
	top:1000px;
	font-size:40px;
	left:660px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
	width:330px;
	height:100px;
	border:none;
	background:transparent;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

#p_2{
	position:absolute;
	top:1000px;
	font-size:40px;
	left:300px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
	width:330px;
	height:100px;
	border:none;
	background:transparent;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

#p_3{
	position:absolute;
	top:1200px;
	font-size:40px;
	left:300px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
	width:330px;
	height:100px;
	border:none;
	background:transparent;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

#p_4{
	position:absolute;
	top:1200px;
	font-size:40px;
	left:660px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
	width:330px;
	height:100px;
	border:none;
	background:transparent;
	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-size:200px 200px;
	background-position: center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


#p_1:hover{
box-shadow: 20 20px 28px 0px rgba(0,0,0,0.25), 0 10px 200px rgba(0,0,0,0.22);
  font-size:46px;
  border-radius:10px;
  border:1px solid white;
  cursor: crosshair;
  -webkit-filter:contrast(200%);
}

#p_2:hover{
box-shadow: 20 20px 28px 0px rgba(0,0,0,0.25), 0 10px 200px rgba(0,0,0,0.22);
  font-size:46px;
  border-radius:10px;
  border:1px solid white;
  cursor: crosshair;
  -webkit-filter:contrast(200%);
}

#p_3:hover{
box-shadow: 20 20px 28px 0px rgba(0,0,0,0.25), 0 10px 200px rgba(0,0,0,0.22);
  font-size:46px;
  border-radius:10px;
  border:1px solid white;
  cursor: crosshair;
  -webkit-filter:contrast(200%);
}

#p_4:hover{
box-shadow: 20 20px 28px 0px rgba(0,0,0,0.25), 0 10px 200px rgba(0,0,0,0.22);
  font-size:46px;
  border:1px solid white;
  cursor: crosshair;
  border-radius:10px;
  -webkit-filter:contrast(200%);
}

#stop_gap_2{
	font-family: 'Lato', sans-serif;
	padding:80px;
	left:30px;
	font-size:55px;
	color:white;
	position:absolute;
	top:700px;
}

#scroll_top{
	left:80px;
	top:600px;
	position:fixed;
	transition-property: transform;
    transition-duration: 1s;
}

#scroll_top:hover {
    animation-name: rotate; 
    animation-duration: .15s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow:2px 2px 9px white;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#about{
	position:absolute;
	top:3000px;
	font-weight:bold;
	width:300px;
	left:550px;
	height:350px;
	font-size:18px;
	 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color:white;
	background:white;
	-webkit-filter:blur(20px);
/*	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
*//*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	font-family: 'Lato', sans-serif;
	
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#about_2{
	position:absolute;
	top:3000px;
	width:350px;
	height:360px;
	left:280px;
	font-size:18px;
	 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color:white;
	background:transparent;

/*	box-shadow: 0 9px 18px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
*/filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	font-family: 'Lato', sans-serif;
}

#stop_gap_3{
	position:absolute;
	font-family: 'Lato', sans-serif;
	top:2800px;
	padding:80px;
	font-size:55px;
	text-shadow:3px 5px 8px black;
	left:54px;
	color:white;
}

#pa{
	position:absolute;
	top:2995px;
	width:300px;
	padding-top: 2px;
	left:600px;
	height:390px;
	font-size:16px;
	display:block;
    margin:auto;
    color:white;
    border-radius: 3px;
    	font-family: 'Lato', sans-serif;

/*  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
*/}

#pa_2{
	position:absolute;
	top:3100px;
	width:260px;
	border-radius:5px;
	height:380px;
	left:370px;
	border-radius: 40px;
	background:transparent;
/*	background:url(newguy.jpg) no-repeat;
*/	background-size:250px 350px;
	background-position: center;
	    display:block;
    margin:auto;
/*  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
*/  font-family: 'Lato', sans-serif;
}

img{
	width:220px;
	height:auto;
	border-radius: 3px;
}

#img2{
	width:350px;
	height:265px;
	border-radius: 3px;
	position:relative;

}

#txt{
	position:absolute;
	top:160px;
	width: 350px;
	left:220px;
border: 1px solid gray;
box-shadow: 1px 1px 3px #888;
min-height: 220px;
padding-: 10px;
margin: 10px;
background:white;
}

#txt_2{
	position:absolute;
	bottom:390px;
	width: 220px;
	left:0px;
	background:white;
border: 1px solid gray;
box-shadow: 1px 1px 3px #888;
min-height: 95px;
}

#img3{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    position:absolute;
	top:160px;
	width: 350px;
	height:200px;
	left:220px;
box-shadow: 1px 1px 3px #888;
min-height: 220px;
padding-: 10px;
margin: 10px;
}

#img4{
position:absolute;
	bottom:390px;
	width: 220px;
	left:0px;
	z-index:9999;
	background:white;
border: 1px solid black;
box-shadow: 1px 1px 3px #888;
height: 95px;
}

/*  							---images_used---

				1.jelly.png, 2.newjs.jpg, 3.html.jpg, 4.angular.jpg
				5.node.jpg, 6.postgres.jpg, 7.jquery.jpg, 8.js.jpg
				9.newguy, 10.blackfish, 11.gg, 12.k;ljl;.jog.jpg
*/
